.item-lists {
	display: flex;
	flex-direction: row-reverse;

	.item-list {
		width: 50%;
		margin: 1rem;
		display: flex;
		flex-direction: column;

		.item-lists-title {
			margin-bottom: 1rem;
		}

		.item-button {
			padding: 0.5rem;
			border-radius: 0.5rem;
			transition: all 250ms ease;
			cursor: pointer;

			&:hover {
				@include set-background-color(darken($light-color, 5));
			}
		}

		.grocery-item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-radius: 0.5rem;
			margin-bottom: 0.5rem;
			padding: 1rem;
			@include set-background-color(lighten($light-color, 10));

			&.darken {
				@include set-background-color(darken($light-color, 5));

				.item-button {
					&:hover {
						@include set-background-color(lighten($light-color, 10));
					}
				}
			}
		}
	}
}
